{% extends 'index.html' %} {% load static %} {% block content %}

<section>
  <div class="container py-50 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-7">
                <h3 class="mb-3">
                  <a
                    href="{% url 'pastel' %}"
                    class="text-body"
                    style="
                      :hover {
                        color: green !important;
                      }
                    "
                    ><i class="fas fa-long-arrow-alt-left me-2"></i>Seguir
                    comprando</a
                  >
                </h3>
                <hr />

                <div
                  class="d-flex justify-content-between align-items-center mb-4"
                >
                  <div class="container">

                    <div class="row justify-content-between">
                      <div class='col-md-auto '>
                        <h4 class="mb-1" style="color: black">
                          Carro de Compras
                        </h4>
                        <p style="color: black">
                          Tiene {{request.session.carrito|length}} articulos
                        </p>
                      </div>
                      {% if request.session.carrito|length == 0 %}
                      <a
                        href="{% url 'limpiar_carrito' %}"
                        class="col-md-auto button disabled"
                        style="color: #cecece"
                        ><i class="fas fa-trash-alt"></i> Limpiar Carrito</a
                      >
                      {% else %}
                      <a
                        href="{% url 'limpiar_carrito' %}"
                        class="col-md-auto button"
                        style="color: #cecece"
                        ><i class="fas fa-trash-alt"></i> Limpiar Carrito</a
                      >
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% if request.session.carrito.items %} {% for key, value in request.session.carrito.items %}
                <div class="card mb-3" style="background-color: #eee">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div class="ms-3">
                          <h5>Pastel {{key}}</h5>
                          <p class="small mb-0 text-black">
                            {{value.tamaño}} Piso/s, {{value.sabor}},
                            {{value.relleno}}, {{value.cobertura}}
                          </p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px"></div>
                        <div style="width: 80px">
                          <h5 class="mb-0">${{value.precio_pastel}}</h5>
                        </div>
                        <a
                          href="{% url 'eliminar_producto' key %}"
                          style="color: #cecece"
                          ><i class="fas fa-trash-alt"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %} {% else %}
                <div class="card mb-3" style="background-color: #eee">
                  <div class="card-body">
                    <div class="alert alert-danger text-center">
                      Sin Productos
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>

              {% comment %} Tarjeta {% endcomment %}
              <div class="col-lg-5">
                <div
                  class="card text-white rounded-3"
                  style="background-color: #eee"
                >
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-center mb-4"
                    >
                      <h2 class="mb-0">Detalles de compra</h2>
                    </div>

                    <form
                      class="mt-4"
                      action="{% url 'comprar' user.id%}"
                      method="GET"
                    >
                      <div class="form-outline form-white mb-4">
                        <input
                          type="text"
                          id="typeName"
                          class="form-control form-control-lg text-black"
                          siez="17"
                          placeholder="Propietario de tarjeta"
                          required
                        />
                        <label class="form-label" for="typeName"
                          >Propietario de tarjeta</label
                        >
                      </div>

                      <div class="form-outline form-white mb-4">
                        <input
                          type="text"
                          id="typeText"
                          class="form-control form-control-lg text-black"
                          size="17"
                          placeholder="1234 5678 9012 3457"
                          minlength="15"
                          maxlength="19"
                        />
                        <label class="form-label" for="typeText"
                          >Número de tarjeta</label
                        >
                      </div>

                      <div class="row mb-4">
                        <div class="col-md-6">
                          <div class="form-outline form-white">
                            <input
                              type="text"
                              id="typeExp"
                              class="form-control form-control-lg text-black"
                              placeholder="MM/YYYY"
                              size="7"
                              id="exp"
                              minlength="7"
                              maxlength="7"
                              required
                            />
                            <label class="form-label" for="typeExp"
                              >Fecha de expiración</label
                            >
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-outline form-white mb-4">
                            <input
                              type="password"
                              id="typeCodigo"
                              class="form-control form-control-lg text-black"
                              placeholder="&#9679;&#9679;&#9679;"
                              size="1"
                              minlength="3"
                              maxlength="3"
                              required
                            />
                            <label class="form-label" for="typeCodigo"
                              >Código de seguridad</label
                            >
                          </div>
                        </div>
                        <div class="col-md-auto">
                          <select
                            name="tipo_entrega"
                            class="form-select"
                            aria-label="Default select example"
                            required
                          >
                            <option value="">Seleccione tipo de entrega</option>
                            <option value="Domicilio">
                              Domicilio
                            </option>
                            <option value="Tienda">
                              Recoger en Tienda
                            </option>
                          </select>
                          <label class="form-label" for="typeCodigo"
                              >Tipo de Entrega</label
                            >
                        </div>
                      </div>

                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2" style="color: black">Total</p>
                        {% if request.session.total %}
                        <p class="mb-2" style="color: black">
                          $ {{request.session.total}}
                        </p>
                        {% else %}
                        <p class="mb-2" style="color: black">$ 0</p>
                        {% endif %}
                      </div>

                      {% if request.session.carrito|length == 0 %}
                      <button type="submit" class="button" disabled>
                        <div>
                          <span
                            >Pagar<i
                              class="fas fa-long-arrow-alt-right ms-2"
                            ></i
                          ></span>
                        </div>
                      </button>
                      {% else %}
                      <button type="submit" class="button">
                        <div>
                          <span
                            >Pagar<i
                              class="fas fa-long-arrow-alt-right ms-2"
                            ></i
                          ></span>
                        </div>
                      </button>
                      {% endif %}
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
